.env
!.example.env
azure-credentials*.json
.knowledge*
.architecture
docker/scaffold
*.md
!README.md
**/_backup/
**/_backup/**
azure-credentials.md
aca-config
# globally ingore __pycache__ directories and .pyc files
__pycache__/
*.pyc


